/* Загальні стилі для контейнера та всіх блоків */
.container {
    display: flex;
    justify-content: flex-end; /* Змінено justify-content на flex-end */
    align-items: center;
    height: 100vh;
    padding-right: 20px; /* Додано відступ справа */
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    text-align: center;
    line-height: 100px;
    margin-left: 10px; /* Додано відступ між блоками */
}

/* Стилі для блоків */
.box.static {
    background-color: #FF5733;
}

.box.relative {
    background-color: #33FF57;
    position: relative;
    top: 20px;
    z-index: 2;
}

.box.absolute {
    background-color: #5733FF;
    position: absolute;
    top: 40px;
    z-index: 3;
}

.box.fixed {
    background-color: #FFFF33;
    position: fixed;
    top: 60px;
    z-index: 4;
}
